<div class="clearfix">
  <div class="left">
    <%= f.field_container :title do %>
      <%= f.label :title %> <span class="required">*</span><br />
      <%= f.text_field :title, :class => 'fullwidth title' %>
      <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :position do %>
      <%= f.label :position %> <br />
      <%= f.text_field :position, :class => 'fullwidth' %>
      <%= f.error_message_on :position %>
    <% end %>

    <%= f.field_container :css_class do %>
      <%= f.label :css_class %><br />
      <%= f.text_field :css_class, :class => 'fullwidth' %>
      <%= f.error_message_on :css_class %>
    <% end %>

  </div>
  <div class="right">

    <%= f.field_container :title_visible do %>
      <%= f.check_box :title_visible %>
      <%= f.label :title_visible %>
    <% end %>

    <%= f.field_container :show_on_frontend do %>
      <%= f.check_box :show_on_frontend %>
      <%= f.label :show_on_frontend %>
    <% end %>

    <%= f.field_container :show_in_sidebar do %>
      <%= f.check_box :show_in_sidebar %>
      <%= f.label :show_in_sidebar %>
    <% end %>

    <%= f.field_container :show_in_footer do %>
      <%= f.check_box :show_in_footer %>
      <%= f.label :show_in_footer %>
    <% end %>

  </div>
</div>